<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel='stylesheet' href='../public/css/style.css' />
</head>

<body>
    <div class="top">
        <div class="top-wrap">
            <div class="left">医疗机构廉洁风险防控信息化监管数据接口</div>
            <div class="right">
                <ul>
                    <li>主页</li>
                    <li>收藏</li>
                    <li>关于</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="nav"></div>
    <div class="content">
        <div class="side">
            <div class='side-title'>接口列表</div>
            <ul>
                <li><a href="">重大问题决策接口</a></li>
                <li><a href="">重要干部任免接口</a></li>
                <li><a href="">重大项目投资决策接口</a></li>
                <li><a href="">大额资金使用接口</a></li>
                <li><a href="">医院满意度接口</a></li>
                <li><a href="">高值耗材前十名接口</a></li>
                <li><a href="">医院药品相关药品指标接口</a></li>
                <li><a href="">医院大型检查接口</a></li>
            </ul>
        </div>
        <div class="main">
            <div class="title">重大问题决策接口</div>
            <form action="">
                <div class="row">
                    <div class="span2 label">申请人：</div>
                    <div class="span8">
                        <input type="text" name="appler" class='input-normal'>
                    </div>
                    <div class="span2 label">申请时间：</div>
                    <div class="span4">
                        <input type="text" class="time">
                    </div>
                </div>
                <div class="row">
                    <div class="span2 label">申请科室：</div>
                    <div class="span8">
                        <input type="text" class="input-big">
                    </div>
                </div>
                <div class="row">
                    <div class="span2 label">议题名称：</div>
                    <div class="span8">
                        <input type="text" class="input-big">
                    </div>
                </div>
                <div class="row row-big">
                    <div class="span2 label">申请说明：</div>
                    <div class="span8">
                        <textarea name="" class="input-area"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="span2 label">项目列别：</div>
                    <div class="span8">
                        <select name="" class="select-normal">
                            <option value="1">B、一般事项决策</option>
                            <option value="1">B、一般事项决策</option>
                            <option value="1">B、一般事项决策</option>
                        </select>
                    </div>
                </div>
                <div class="row row-big">
                    <div class="span2 label">分管领导意见</div>
                    <div class="span8">
                        <textarea name="" class="input-area" placeholder="分管领导意见"></textarea>
                    </div>
                    <div class="span2 label">签名：</div>
                    <div class="span4">
                        <input type="text" class="input-normal">
                    </div>
                    <div class="span2 label">时间：</div>
                    <div class="span4">
                        <input type="text" class="time">
                    </div>
                </div>
                <div class="row">
                    <div class="span2 label">决策类型：</div>
                    <div class="span8">
                        <select name="" class="select-normal">
                            <option value="1">4、党政联席会</option>
                            <option value="1">4、党政联席会</option>
                            <option value="1">4、党政联席会</option>
                        </select>
                    </div>
                </div>
                <div class="row row-big">
                    <div class="span2 label">党委会/党政联席会会议决议(决策结果内容)</div>
                    <div class="span8">
                        <textarea name="" class="input-area" placeholder="党委会/党政联席会会议决议(决策结果内容)"></textarea>
                    </div>
                    <div class="span2 label">签名：</div>
                    <div class="span4">
                        <input type="text" class="input-normal">
                    </div>
                    <div class="span2 label">时间：</div>
                    <div class="span4">
                        <input type="text" class="time">
                    </div>
                </div>
                <div class="row row-big">
                    <div class="span2 label">书记/院长签署审批意见</div>
                    <div class="span8">
                        <textarea name="" class="input-area" placeholder="书记/院长签署审批意见"></textarea>
                    </div>
                    <div class="span2 label">签名：</div>
                    <div class="span4">
                        <input type="text" class="input-normal">
                    </div>
                    <div class="span2 label">时间：</div>
                    <div class="span4">
                        <input type="text" class="time">
                    </div>
                </div>
                <div class="row row-big">
                    <div class="span2 label">院务公开：</div>
                    <div class="span8">
                        <textarea name="" class="input-area"></textarea>
                    </div>
                    <div class="span2 label">公开时间：</div>
                    <div class="span4">
                        <input type="text" class="time">
                    </div>
                </div>
                <div class="row row-big">
                    <div class="span2 label">院办公室备案：</div>
                    <div class="span8">
                        备案状态：
                        <select name="" class="select-normal">
                            <option value="1">已经备案</option>
                            <option value="1">已经备案</option>
                            <option value="1">已经备案</option>
                        </select>
                    </div>
                    <div class="span2 label">时间：</div>
                    <div class="span4">
                        <input type="text" class="time">
                    </div>
                </div>
                <div class="row">
                    <div class="span2 label">&nbsp;</div>
                    <div class="span8">
                        <input type="submit" value="提交" class="button-normal">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="footer"></div>
</body>

</html>
