select,
textarea {
    width: 140px;
    border: 1px solid #cccccc;
}

body {}

.top {
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    font-family: 'Microsoft Yahei';
    background-color: #000;
}

.top-wrap {
    width: 1100px;
    min-width: 1100px;
    margin: 0 auto;
}

.top .left {
    float: left;
    color: #fff;
}

.top .right {
    float: right;
}

.top .right ul li {
    margin-right: 10px;
    float: right;
    color: #fff;
}

.content {
    width: 1100px;
    min-width: 1100px;
    margin: 0 auto;
}

.side {
    float: left;
    width: 200px;
    height: 600px;
    min-height: 600px;
    border-right: 1px solid #ccc;
}

.side ul {
    margin: 10px 0 0 0;
}

.side ul li {
    height: 30px;
    font-size: 14px;
    font-family: 'Microsoft Yahei';
    margin-top: 10px;
    padding-right: 20px;
    text-align: right;
    border-bottom: 1px dashed #ccc;
}

.side .side-title {
    height: 40px;
    line-height: 40px;
    font-family: 'Microsoft Yahei';
    text-align: center;
    font-size: 16px;
    color: #fff;
    background-color: #72C5EF;
    border: 2px solid #ccc;
}

.side ul li a {
    color: #6E6565;
    text-decoration: none;
}

.side ul li a:hover {
    color: #FF0000;
}

.main {
    width: 960px;
    margin-left: 200px;
}

.main .title {
    text-align: center;
    font-family: 'simhei';
    font-size: 24px;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}

.main form {
    margin-left: 30px;
}

.row {
    height: 40px;
    line-height: 40px;
    margin: 10px 0;
}

.row-big {
    height: 60px;
    line-height: 60px;
    margin: 10px 0;
}

.row-inner {
    margin: 0;
}

.row .label {
    text-align: right;
    font-family: 'simhei';
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.row .input-normal {
    width: 120px;
    height: 20px;
}

.row .time {
    width: 120px;
    height: 20px;
}

.row .input-big {
    width: 280px;
    height: 20px;
}

.row .input-area {
    width: 280px;
    height: 40px;
    resize: none;
    vertical-align: middle;
}

.row .select-normal {
    width: 120px;
    height: 23px;
}

.row .button-normal {
    width: 100px;
    height: 27px;
    line-height: 27px;
    font-family: 'Microsoft Yahei';
    background-color: #FD9A32;
    /*box-shadow: 2px 2px 2px #ccc;*/
    border-radius: 2px;
    border: none;
    cursor: pointer;
    border: 1px solid #ccc;
}

.row .button-normal:hover {
    background-color: #F78B19;
}

table {
    width: 900px;
    margin: 0 auto;
}

table th {
    font-family: 'simhei';
    font-size: 16px;
    font-weight: normal;
    border-bottom: 1px solid #ccc;
    height: 30px;
    line-height: 30px;
    background-color: #87918D;
    color: #fff;
    text-align: center;
}

table td {
    height: 28px;
    line-height: 28px;
    text-align: center;
    border-bottom: 1px dashed #ccc;
}

table .tb-button {
    width: 40px;
    height: 23px;
    line-height: 23px;
    font-family: 'Microsoft Yahei';
    background-color: #FCBC78;
    /*box-shadow: 2px 2px 2px #ccc;*/
    border-radius: 2px;
    border: none;
    cursor: pointer;
    border: 1px solid #ccc;
}
