/*  reset.css  */

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
    margin: 0;
    padding: 0;
}

body,
button,
input,
select,
textarea {
    font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

address,
cite,
dfn,
em,
var {
    font-style: normal;
}

code,
kbd,
pre,
samp {
    font-family: courier new, courier, monospace;
}

small {
    font-size: 12px;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

legend {
    color: #000;
}

fieldset,
img {
    border: 0;
}

button,
input,
select,
textarea {
    font-size: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    display: block;
    margin: 0;
    padding: 0;
}

mark {
    background: #ff0;
}

/* bootstrap.css */

.span24 {
    width: 950px;
}

.span23 {
    width: 910px;
}

.span22 {
    width: 870px;
}

.span21 {
    width: 830px;
}

.span20 {
    width: 790px;
}

.span19 {
    width: 750px;
}

.span18 {
    width: 710px;
}

.span17 {
    width: 670px;
}

.span16 {
    width: 630px;
}

.span15 {
    width: 590px;
}

.span14 {
    width: 550px;
}

.span13 {
    width: 510px;
}

.span12 {
    width: 470px;
}

.span11 {
    width: 430px;
}

.span10 {
    width: 390px;
}

.span9 {
    width: 350px;
}

.span8 {
    width: 310px;
}

.span7 {
    width: 270px;
}

.span6 {
    width: 230px;
}

.span5 {
    width: 190px;
}

.span4 {
    width: 150px;
}

.span3 {
    width: 110px;
}

.span2 {
    width: 70px;
}

.span1 {
    width: 30px;
}

.offset24 {
    margin-left: 970px;
}

.offset23 {
    margin-left: 930px;
}

.offset22 {
    margin-left: 890px;
}

.offset21 {
    margin-left: 850px;
}

.offset20 {
    margin-left: 810px;
}

.offset19 {
    margin-left: 770px;
}

.offset18 {
    margin-left: 730px;
}

.offset17 {
    margin-left: 690px;
}

.offset16 {
    margin-left: 650px;
}

.offset15 {
    margin-left: 610px;
}

.offset14 {
    margin-left: 570px;
}

.offset13 {
    margin-left: 530px;
}

.offset12 {
    margin-left: 490px;
}

.offset11 {
    margin-left: 450px;
}

.offset10 {
    margin-left: 410px;
}

.offset9 {
    margin-left: 370px;
}

.offset8 {
    margin-left: 330px;
}

.offset7 {
    margin-left: 290px;
}

.offset6 {
    margin-left: 250px;
}

.offset5 {
    margin-left: 210px;
}

.offset4 {
    margin-left: 170px;
}

.offset3 {
    margin-left: 130px;
}

.offset2 {
    margin-left: 90px;
}

.offset1 {
    margin-left: 50px;
}

.row {
    margin-left: -10 px
}

.row:after,
.row:before {
    content: " ";
    display: table
}

.row: after {
    clear: both
}

[class *="span"] {
    float: left;
    margin-left: 10px;
}

/*  global.css  */

select,
textarea {
    width: 140px;
    border: 1px solid #cccccc;
}

body {}

.top {
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    font-family: 'Microsoft Yahei';
    background-color: #000;
}

.top-wrap {
    width: 1100px;
    min-width: 1100px;
    margin: 0 auto;
}

.top .left {
    float: left;
    color: #fff;
}

.top .right {
    float: right;
}

.top .right ul li {
    margin-right: 10px;
    float: right;
    color: #fff;
}

.content {
    width: 1100px;
    min-width: 1100px;
    margin: 0 auto;
}

.side {
    float: left;
    width: 200px;
}

.side ul {
    margin: 10px 0 0 0;
}

.side ul li {
    height: 30px;
    font-size: 14px;
    font-family: 'Microsoft Yahei';
    margin-top: 10px;
    padding-right: 20px;
    text-align: right;
    border-bottom: 1px dashed #ccc;
}

.side .side-title {
    height: 40px;
    line-height: 40px;
    font-family: 'Microsoft Yahei';
    text-align: center;
    font-size: 16px;
    color: #fff;
    background-color: #72C5EF;
    border: 2px solid #ccc;
}

.side ul li a {
    color: #6E6565;
    text-decoration: none;
}

.side ul li a:hover {
    color: #FF0000;
}

.main {
    width: 960px;
    margin-left: 200px;
    border-left: 1px solid #ccc;
}

.main .title {
    text-align: center;
    font-family: 'simhei';
    font-size: 24px;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}

.main form {
    margin-left: 30px;
}

.row {
    height: 40px;
    line-height: 40px;
    margin: 10px 0;
}

.row-big {
    height: 60px;
    line-height: 60px;
    margin: 10px 0;
}

.row-inner {
    margin: 0;
}

.row .label {
    text-align: right;
    font-family: 'simhei';
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.row .input-normal {
    width: 120px;
    height: 20px;
}

.row .time {
    width: 120px;
    height: 20px;
}

.row .input-big {
    width: 280px;
    height: 20px;
}

.row .input-area {
    width: 280px;
    height: 40px;
    resize: none;
    vertical-align: middle;
}

.row .select-normal {
    width: 120px;
    height: 23px;
}

.row .button-normal {
    width: 100px;
    height: 27px;
    line-height: 27px;
    font-family: 'Microsoft Yahei';
    background-color: #FD9A32;
    /*box-shadow: 2px 2px 2px #ccc;*/
    border-radius: 2px;
    border: none;
    cursor: pointer;
    border: 1px solid #ccc;
}

.row .button-normal:hover{
    background-color: #F78B19;
}
